[Unit]
Description=Update the system configuration with ansible-pull

Requires=network-online.target
After=network-online.target


[Service]
Type=oneshot
# Run as the ansible user/group
User=ansible
Group=ansible

ExecStart=/usr/bin/ansible-pull -o -U https://github.com/wtpckl/ansible.git
